Django==1.2.3
Flask==0.8
Jinja2==2.6
M2Crypto==0.20.1
MySQL-python==1.2.2
PIL==1.1.7
Werkzeug==0.8.3
distribute==0.6.14
django-registration==0.7
django-tagging==0.3.1
dnspython==1.8.0
gitosis==0.2
jabberbot==0.14
mod-python==3.3.1
pexpect==2.3
psycopg2==2.2.1
pyfacebook==0.1
pygopherd==2.0.18
python-apt==0.7.100.1-squeeze1
pyxmpp==1.1.1
reportbug==4.12.6
wsgiref==0.1.2
zope.interface==3.5.3
